
    /* CSS design originally by @jofpin, tweaked by Colt Steele */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);

#main {
  position: sticky;
  top: 0;
  
  z-index: 1000;
  background-color: whitesmoke;
  
  padding: 1em;

}
body {
  background: #ecf0f1;
  
}

.user-profile {
    margin: 1em;
    width: 17em; 
    height: 12em;
    background: #fff;
    border: solid black;
    border-radius:  .3em;
    display: inline-grid;
    position:relative;
  }
  .user-profile  #fullname {
    margin: auto;
    color: #16a085;
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
  }
 .avatar {
  display: block;
  padding: .7em;
  margin: auto;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}
img{
  margin-left: auto;
  float:left;
}

.closeButton {
  position:absolute;
  top: -23px;
  right: -23px;
  width: 3em;
  transition: width 0.2s;
}

.closeButton:hover {
  width: 4em;
  transition: 0.2s;
}
#usersList {
  padding: 2em;
  margin-top: 4em;
}

.arrow-cls {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  text-indent: -9999px;
  border-top: 1px solid #408080;
  border-left: 1px solid #72B8B8;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: transparent;
}
.arrow-cls:hover {
  border-color: #800000;
  border-width: 2px;
}
.arrow-cls:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}
.arrow-cls.back {
  transform: rotate(-45deg);
  left: 10px;
}
.arrow-cls.forward {
  transform: rotate(140deg);
  right: 30px;
}
.boton-oculto {
  visibility: hidden;
}

.btn {
  margin: 0.5em;
}