body{
    background:#6d6969;
    min-width: 200px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #Principal{
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    padding-top:5%;
  }

  #historial{
      position: relative;
      padding: 10px;

  }
  
  #Calculadora {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); 
  }
  
  #Pantalla{
    background: white;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-size: 20px;
    height: 100px;
    width:272px;
    border:0;
    margin:0;
    text-align:right;
    padding:10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  #Teclado{
    background: #3A434F;  
  }

  #titulo {
    font-size: 2em;
    color: rgb(202, 197, 197);
  }
  
  .button{  
    background: #3A434F;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 15px;
    border: 0;
    color: #FCFCFD;
    width: 60px;
    height: 60px;
    min-width: 10px;
    min-height: 10px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
  }
  .button:hover{  
    transform: scale(1.1);  
    -webkit-transform: scale(1.1);
    background: #5A656F;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .button:active{ 
    transform: scale(1);  
  }

  .wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2;
    grid-row: 1 / 3;
  }

  div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 }
 
 
 /*** Table Styles **/
 
 .table-fill {
   background: white;
   border-radius:3px;
   border-collapse: collapse;
   height: 2em;
   margin: auto;
   max-width: 800px;
   padding:5px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
 }
  
 th {
   color:#D5DDE5;;
   background:#1b1e24;
   border-bottom:4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-size:23px;
   font-weight: 100;
   padding:24px;
   text-align:left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align:middle;
 }
 
 th:first-child {
   border-top-left-radius:3px;
 }
  
 th:last-child {
   border-top-right-radius:3px;
   border-right:none;
 }
   
 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom-: 1px solid #C1C3D1;
   color:#666B85;
   font-size:16px;
   font-weight:normal;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
 }
  
 tr:hover td {
   background:#4E5066;
   color:#FFFFFF;
   border-top: 1px solid #22262e;
 }
  
 tr:first-child {
   border-top:none;
 }
 
 tr:last-child {
   border-bottom:none;
 }
  
 tr:nth-child(odd) td {
   background:#EBEBEB;
 }
  
 tr:nth-child(odd):hover td {
   background:#4E5066;
 }
 
 tr:last-child td:first-child {
   border-bottom-left-radius:3px;
 }
  
 tr:last-child td:last-child {
   border-bottom-right-radius:3px;
 }
  
 td {
   background:#FFFFFF;
   padding:5px;
   text-align: center;
   justify-content: center;
   vertical-align:middle;
   font-weight:300;
   font-size:18px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
 }
 
 td:last-child {
   border-right: 0px;
 }
 
 th.text-left {
   text-align: center;
 }
 
 th.text-center {
   text-align: center;
 }
 
 th.text-right {
   text-align: right;
 }
 
 td.text-left {
   text-align: center;
 }
 
 td.text-center {
   text-align: center;
 }
 
 td.text-right {
   text-align: right;
 }
 
 .draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  margin: 10px;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

