body {
    margin: 10px auto;
    width: 470px;
  }
  
  h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
  }
  
  p {
    margin: 0;
    padding: 0 0 .5em;
  }
  
  .pane {
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> c1b70904b5f17ec1fb8f151d601e6c8feef31436
  }
  
  .remove-button {
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
<<<<<<< HEAD
=======
    position: absolute;
>>>>>>> c1b70904b5f17ec1fb8f151d601e6c8feef31436
  }