* {
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    padding-top: 100px;
    width: 400px;
    position: relative;
    margin: 0 auto;
  }
  
  .demo-arrow-cls {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    text-indent: -9999px;
    border-top: 1px solid #408080;
    border-left: 1px solid #72B8B8;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: transparent;
  }
  .demo-arrow-cls:hover {
    border-color: #800000;
    border-width: 2px;
  }
  .demo-arrow-cls:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
  }
  .demo-arrow-cls.back {
    transform: rotate(-45deg);
    left: 0;
  }
  .demo-arrow-cls.forward {
    transform: rotate(140deg);
    right: 0;
  }
  